/* footer */
.footer {
  background-color: #212121;
  color: #f6f7f8;
}
.footer-container {
  max-width: 1120px;
  width: 100%;
  margin: 53px auto;
  padding: 0 10px;
}
.footer-create-group {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 34px 0;
  border-bottom: 1px solid #707070;
}

.footer-btn a {
  display: block;
  padding: 10px 14px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: var(--space-1);
}
.footer-nav {
  margin: var(--space-4) 0;
  display: flex;
  justify-content: flex-start;
}
.footer-nav a {
  color: #c5c4c4;
}
.footer-nav-account,
.footer-nav-discover,
.footer-nav-meetup {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex: 1;
}

.footer-social {
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}
.footer-social-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-social-left-wrapper {
  display: flex;
  gap: 32px;
}
.footer-social-right {
  display: flex;
  gap: 22px;
}
.footer-links {
  display: flex;
  gap: 24px;
  padding: 40px 0;
}
.footer-links a {
  color: #c5c4c4;
}
.footer-links p {
  color: #ffffff;
}
.footer-links-right {
  display: flex;
  gap: 23px;
}

@media (max-width: 393px) {
  /* .footer */
  .footer-container {
    padding-left: 18px;
    padding-top: 18px;
  }
  .footer-social-right {
    display: none;
  }
  .footer-nav a,
  .footer-links p {
    font-size: 0.87rem;
    line-height: 1.25rem;
  }
  .footer-create-group {
    gap: unset;
    padding: unset;
    border-bottom: unset;
  }

  .footer-border {
    width: 248px;
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 1px solid #707070;
  }
  .footer-links-right {
    display: none;
  }
}
