* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #212121;
  --space-1: 8px;
  --space-2: 10px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--main-color);
  line-height: 1.5rem;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.6rem;
}
h2 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}
button {
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11px 24px;
}
.header_links {
  display: flex;
  gap: 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.header input {
  border: 1px solid #d9d9d9;
  padding: 12px 30px;
}
.header_search {
  display: flex;
  gap: 0;
}
.header_search button {
  background-color: #f65858;
  padding: 10px;
  border-start-end-radius: var(--space-1);
  border-bottom-right-radius: var(--space-1);
  border: none;
}
.input-first {
  background-image: url("../assets/svg/loop.svg");
  background-repeat: no-repeat;
  background-position: var(--space-1);

  border-start-start-radius: var(--space-1);
  border-bottom-left-radius: var(--space-1);
}
.input-second::placeholder {
  color: black;
}

.header_actions {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 0.8rem;
  margin-right: 16px;
}
.header_actions span {
  font-weight: 500;
}
.header_actions-language {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header_actions-language span {
  color: var(--main-color);
}
.login {
  color: var(--main-color);
}

.primary-btn {
  color: white;
  background-color: #00798a;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--space-1);
}

.container {
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
}
/* about */
.about {
  display: flex;
  margin-top: 75px;
  margin-bottom: 120px;
  gap: 100px;
}
.about-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4);
  flex: 1;
}
.about-rights {
  flex: 1;
}

.about-links a {
  align-self: flex-start;
  font-size: 1rem;
  line-height: 24px;
}

/* events */
.events__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-4) 0;
}
.events__group {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.events__search {
  width: 240px;
  border: none;
  background-color: #97cad11f;
  border-radius: var(--space-1);

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 12px;

  background-image: url("../assets/svg/pen.svg");
  background-repeat: no-repeat;
  background-position: 210px;
}
.events__search::placeholder {
  color: #00798a;
}
.events_see-all {
  border: none;
  background-color: white;
}
.events_see-all span {
  color: #00798a;
  font-weight: 500;
  font-size: 1rem;
}
.events__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 36px;
}
.event {
  max-width: 272px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.event__img {
  width: 100%;
  height: 153px;
  object-fit: cover;
  border-radius: var(--space-1);
}

.event__category {
  font-weight: 500;
  color: #707070;
}
.event__date {
  text-transform: uppercase;
}
.event__date::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: var(--space-1);
  background-image: url("../assets/svg/calendar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}
.event-row {
  display: flex;
  gap: var(--space-3);
}
.event__attendees::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: var(--space-1);
  background-image: url("../assets/svg/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

.availability::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: var(--space-1);
  background-image: url("../assets/svg/ticket.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

/* online-events */
.online-events {
  margin-top: 90px;
}
.online-events_group {
  display: flex;
  justify-content: space-between;
}

/* join-meetup */
.join-meetup {
  margin-top: 90px;
  background-color: #97cad114;
  padding: 36px 56px;
  display: flex;
  gap: 90px;
}
.join-meetup__links {
  flex: 2;
}
.join-meetup__content {
  margin: 16px 0;
}
.secondary-btn {
  display: block;
  width: 192px;
  padding: 12px;
  color: white;
  background-color: #e32359;
  text-align: center;
  border-radius: var(--space-1);
}
.join-meetup__rights {
  flex: 1;
}

/* categories */
.categories {
  margin-top: 64px;
}
.categories-content {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.categorie-card {
  max-width: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 22px;

  background-color: #97cad114;
}

.categorie-card span {
  text-align: center;
  font-weight: 500;
}

/* popular-cities */
.popular-cities {
  margin-top: 64px;
}
.popular-cities p {
  margin-top: 16px;
  margin-bottom: 28px;
  color: #707070;
}
.popular-cities-content {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

.popular-cities-card {
  max-width: 205px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.popular-cities-card span {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
}

/* how-works */
.how-works {
  margin-top: 64px;
}
.how-works-wrapper {
  margin-top: 24px;
  display: flex;
  gap: 32px;
}
.how-works-content {
  padding: 32px 24px;
  flex: 1;
  background-color: #97cad114;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.how-works-content img {
  max-width: 41px;
}
.how-works-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-works-group a {
  font-weight: 500;
  color: #00798a;
}
