<footer class="footer">
  <div class="footer-container">
    <section class="footer-create-group">
      <div class="footer-border"><p>Create your own Meetup group.</p></div>
      <div class="footer-btn"><a href="#">Get Started</a></div>
    </section>
    <section class="footer-nav">
      <div class="footer-nav-account">
        <h6>Your Account</h6>
        <a href="#">Sign up</a>
        <a href="#">Log in</a>
        <a href="#">Help</a>
        <a href="#">Become an Affiliate</a>
      </div>
      <div class="footer-nav-discover">
        <h6>Discover</h6>
        <a href="#">Groups</a>
        <a href="#">Calendar</a>
        <a href="#">Topics</a>
        <a href="#">Cities</a>
        <a href="#">Online Events</a>
        <a href="#">Local Guides</a>
        <a href="#">Make Friends</a>
      </div>
      <div class="footer-nav-meetup">
        <h6>Meetup</h6>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Meetup Pro</a>
        <a href="#">Careers</a>
        <a href="#">Apps</a>
        <a href="#">Podcast</a>
      </div>
    </section>

    <section class="footer-social">
      <div class="footer-social-left">
        <h6>Follow us</h6>
        <div class="footer-social-left-wrapper">
          <a href="#"><img src="./assets/svg/Facebook.svg" alt="facebook" /></a>
          <a href="#"><img src="./assets/svg/Twitter.svg" alt="twitter" /></a>
          <a href="#"><img src="./assets/svg/YouTube.svg" alt="youtube" /></a>
          <a href="#"
            ><img src="./assets/svg/Instagram.svg" alt="instagram"
          /></a>
          <a href="#"><img src="./assets/svg/TikTok.svg" alt="tiktok" /></a>
        </div>
      </div>

      <div class="footer-social-right">
        <a href="#"
          ><img src="./assets/svg/google-play.svg" alt="google-play"
        /></a>
        <a href="#"><img src="./assets/svg/app-store.svg" alt="app-store" /></a>
      </div>
    </section>

    <section class="footer-links">
      <p>© 2024 Meetup</p>
      <div class="footer-links-right">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Do Not Sell or Share My Personal Data</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Help</a>
      </div>
    </section>
  </div>
</footer>
