<navbar class="header">
  <div class="header_logo">
    <a href="./index.html"><img src="./assets/svg/meetup.svg" alt="logo" /></a>
  </div>
  <div class="header_center">
    <form class="header_search">
      <input class="input-first" type="text" placeholder=" Search events" />
      <input class="input-second" type="text" placeholder="Mountain View, CA" />
      <button type="submit">
        <img src="./assets/svg/loop1.svg" alt="" />
      </button>
    </form>
  </div>

  <div class="header_actions">
    <div class="header_actions-language">
      <img src="./assets/svg/planet.svg" alt="planet" />
      <a href="#"><span>English</span></a>
    </div>

    <a href="#"><span class="login">Log in</span></a>
    <a class="primary-btn" href="#"><span>Sign up</span></a>
  </div>
</navbar>
